[workspace]
resolver = "2"
members = ["api", "program"]

[workspace.package]
version = "3.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://ore.supply"
documentation = "https://docs.rs/ore-api/latest/ore_api/"
repository = "https://github.com/regolith-labs/ore"
readme = "./README.md"
keywords = ["solana", "crypto", "mining"]

[workspace.dependencies]
array-const-fn-init = "0.1.1"
bytemuck = "1.14.3"
const-crypto = "0.1.0"
drillx = { version = "2.2", features = ["solana"] }
mpl-token-metadata = "5.1"
num_enum = "0.7.2"
ore-api = { path = "api" }
ore-boost-api = { version = "1.1", path = "../ore-boost/api" }
solana-program = "^2.1"
spl-token = { version = "^4", features = ["no-entrypoint"] }
spl-associated-token-account = { version = "^6", features = [ "no-entrypoint" ] } 
static_assertions = "1.1.0"
steel = { features = ["spl"], version = "3.0" }
thiserror = "1.0.57"
